<div class="main-content pt-5" >
    <div class="container">
        <div class="card shadow border-0 p-5">
            <div class="header">
                <h4 class="title">Add Teacher</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>First Name <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="type" class="form-control" id="exampleFormControlInput1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Last Name <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="type" class="form-control" id="exampleFormControlInput1">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Mobile Number <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="+91 85456958547">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Qualification <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1">
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        
                    </div>

                    <div class="row pt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Gender <span class="text-danger">*</span></h6>
                                  </label><br>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">Others</label>
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Date of Joining <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="date" class="form-control"  placeholder="+91 85456958547">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Address 1 <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Address 2 <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="text" class="form-control"  placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Aadhar Number <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="tel" class="form-control"  placeholder="8373-3857-001">
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Pan Number<span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="text" class="form-control" placeholder="ABCD1405A">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Email <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="example@gmail.com">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleFormControlInput1" class="form-label">
                                    <h6>Password <span class="text-danger">*</span></h6>
                                  </label>
                                  <input type="password" class="form-control" id="">
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col text-end">
                            <button type="button" class="btn btn-secondary me-md-2" data-bs-dismiss="modal" routerLink="/teacherlist">Close</button>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>
                        </div>

                    </div>
                    
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
   
