<div class="container">
    <h3 class="text">Class Setup</h3>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Senior Secondary
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col">
                        <h6 class="text-primary">Class - 12</h6>
                    </div>
                    <div class="col">
                        <h6 class="text-primary text-end"><span><i class="bi bi-plus-circle">Add New
                                    Section</i></span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>12-A</h3>

                                <a href="" class="text-decoration-none" routerLink="studentlist">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>12-B</h3>

                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <span><i
                                                class="bi bi-chevron-right"></i></span></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>12-C</h3>
                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="text-primary pt-3">Class - 11</h6>
                <div class="row pt-3">
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>11-A</h3>

                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>11-B</h3>

                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <span><i
                                                class="bi bi-chevron-right"></i></span></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>11-C</h3>
                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Secondary
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col">
                        <h6 class="text-primary">Class - 10</h6>
                    </div>
                    <div class="col">
                        <h6 class="text-primary text-end"><span><i class="bi bi-plus-circle">Add New
                                    Section</i></span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>10-A</h3>

                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>10-B</h3>

                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <span><i
                                                class="bi bi-chevron-right"></i></span></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>10-C</h3>
                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-primary pt-3">Class - 9</h6>
                    <div class="row pt-3">
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>9-A</h3>

                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>9-B</h3>

                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <span><i
                                                    class="bi bi-chevron-right"></i></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>9-C</h3>
                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Middle
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col">
                        <h6 class="text-primary">Class - 8</h6>
                    </div>
                    <div class="col">
                        <h6 class="text-primary text-end"><span><i class="bi bi-plus-circle">Add New
                                    Section</i></span></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>8-A</h3>

                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>8-B</h3>

                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <span><i
                                                class="bi bi-chevron-right"></i></span></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>8-C</h3>
                                <a href="" class="text-decoration-none">
                                    <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-primary pt-3">Class - 7</h6>
                    <div class="row pt-3">
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>7-A</h3>

                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>7-B</h3>

                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <span><i
                                                    class="bi bi-chevron-right"></i></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>7-C</h3>
                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="text-primary pt-3">Class - 6</h6>
                    <div class="row pt-3">
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>6-A</h3>

                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>6-B</h3>

                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <span><i
                                                    class="bi bi-chevron-right"></i></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <h3>6-C</h3>
                                    <a href="" class="text-decoration-none">
                                        <p class="text-end pb-0">view Class <i class="bi bi-chevron-right"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

<router-outlet></router-outlet>