<section class="container pt-5">
    <div class="bg-light p-5">
        <div>
            <h5 class="text-primary">Add Student</h5>
        </div>
        <div>
            <form class="row g-3 ">
                <h5 class="text-primary">Personal Details</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>First Name <span class="text-danger">*</span></h6>
                        </label>
                        <input type="type" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Last Name <span class="text-danger">*</span></h6>
                        </label>
                        <input type="type" class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Father Name <span class="text-danger">*</span></h6>
                        </label>
                        <input type="type" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Mother Name <span class="text-danger">*</span></h6>
                        </label>
                        <input type="type" class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>DOB<span class="text-danger">*</span></h6>
                        </label>
                        <input type="date" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>ROll No</h6>
                        </label>
                        <input type="type" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Class <span class="text-danger">*</span></h6>
                        </label>
                        <input type="type" class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Section<span class="text-danger">*</span></h6>
                        </label>
                        <input type="tel" class="form-control" id="exampleFormControlInput1"
                            placeholder="+91 85456958547">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Mobile Number <span class="text-danger">*</span></h6>
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="example@gnail.com">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Email Id <span class="text-danger">*</span></h6>
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="example@gnail.com">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Gender <span class="text-danger">*</span></h6>
                        </label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Others</label>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Address 1 <span class="text-danger">*</span></h6>
                        </label>
                        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Address 2 <span class="text-danger">*</span></h6>
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">
                            <h6>Aadhar Number <span class="text-danger">*</span></h6>
                        </label>
                        <input type="tel" class="form-control" id="exampleFormControlInput1"
                            placeholder="+91 85456958547">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <div class="d-grid gap-2 d-flex justify-content-md-end pt-3">
                    <button class="btn btn-primary me-md-2" type="button">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>